body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#mainCanvas {
    position: absolute;
    width: 100vw;
    height: 90vh;
}

#fadeOutContainer {
    position: absolute;
    background-color: white;
    transition: opacity 1s;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#videoPlayer {
    max-width: 100vw;
    max-height: 90vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transition-duration: 0.5s;
    opacity: 1;
}

#videoPlayer video {
    width: 100vw;
    height: 90vh;
    margin: 0;
}

#controlsContainer {
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.controlBTN {
    width: 33%;
    height: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.controlBTN:hover {
    opacity: 0.7;
}